<div class="body">
    <div class="background">
        <div class="conteiner">
            <h1>Nova transferência</h1>
            <span class="valor">Valor</span>
            <span class="numeros">R$ 0,00</span>
            <span class="conta">Conta</span>
            <span class="conta-numero">XXX#XXX.XX</span>
            <h2>RESUMO</h2>
            <p>Larissa Rimbaldi Santos 441.340.840-32</p>
            <div class="transferencia">R$ 290,00</div>
            <button type="button" class="btn ">TRANSFERIR</button>
        </div>
    </div>
</div>

