.body {
    background: #202020;
    display: block;
    position: absolute;
    width: 100%;
    margin: -8px !important;
    padding: 0 !important;
    margin-bottom: 40px;
}
.background{
    height: 851px;
    background: #FFFFFF;
    margin-top: 40px;
    border-radius: 12px 12px 0px 0px;
}