.Splash {
    background: #202020;
    display: block;
    position: absolute;
    width: 100%;
    height: 860px;
    margin: -8px !important;
    padding: 0 !important;
}
svg.banki {
    margin: 0 auto;
    display: block;
    margin-top: 50%;
}
svg.ito {
    display: block;
    margin: 0 auto;
    margin-left: 51%;
    margin-top: 8px;
}